{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="container-fluid text-center">
    <h2 style="margin-top:25px">Add Activity</h2>
    <section name="form">
        <form method="POST" action="{% url 'lab-4:post_activity' %}">
            {% csrf_token %}
            {% for i in activity_form %}
                <p>{{i.label_tag}} {{i}}</p>
            {% endfor %}
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
</div>

{% endblock %}