{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-12 sidenav">
      <h2>Feedback</h2>
      <p class="short-paragraph">Do you have any comments about my website?
      <br> Please do not hesitate to send me a message.
      <br> Any kind of feedback would be really appreciated.
      </p>
    </div>
  </div>
</div>

{% endblock %}