{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container-fluid text-center">    
  <div id="home">
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <img 
        id="my-image"
        src="https://media.licdn.com/dms/image/C5103AQH1_dFTPONWoQ/profile-displayphoto-shrink_200_200/0?e=1540425600&v=beta&t=566E-H3xkXFZUwyXgOn2o58IbAmoP9TXYI_H8mxNA98">
      </div>
      <div class="col-sm-10 text-left" id="description"> 
        <h2>Muhammad Ridho Ananda</h2>
        <p class="short-paragraph">Currently majoring Computer Science at Universitas Indonesia.
        <br>Interested at data science and competitive programming.
        <br>A student and a lifetime learner.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid text-center">
  <div id="resume">
    <p class="section-title">RESUME</p>  
    <div class="row content">
      <div class="col-sm-4 sidenav">
        <div class="card">
          <img class="card-img-top" data-src="holder.js/100x180/?text=Image cap">
          <div class="card-body">
            <h4 class="card-title">Education</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">SD YPS Singkole <br>(2005-2011)</li>
            <li class="list-group-item">SMP Pribadi Bandung <br>(2011-2014)</li>
            <li class="list-group-item">SMA Pribadi Bandung <br>(2014-2017)</li>
            <li class="list-group-item">Universitas Indonesia <br>(2017-now)</li>
          </ul>
        </div>
      </div>  
      <div class="col-sm-4 sidenav">
        <div class="card">
          <img class="card-img-top" data-src="holder.js/100x180/?text=Image cap">
          <div class="card-body">
            <h4 class="card-title">Work Experience</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Software Engineer Internship at GDP Labs <br>
              (Jun 2017-Aug 2017)</li>
            <li class="list-group-item">Discrete Mathematics 1 Teaching Assistant <br>
              (Sep 2017-now)</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 sidenav">
        <div class="card">
          <img class="card-img-top" data-src="holder.js/100x180/?text=Image cap">
          <div class="card-body">
            <h4 class="card-title">Projects</h4>
          </div>
          <ul class="list-group list-group-flush">
          </ul>
        </div>
      </div> 
    </div>
  </div>
</div>

<div class="container-fluid">
  <div id="skills">
    <p class="section-title">SKILLS</p>  
    <div class="row content">
      <div class="col-sm-12 sidenav">
        <div class="card-group">
          <div class="card" id="skills-card">
            <img class="card-img-top" data-src="holder.js/100x180/">
            <div class="card-body">
              <h4 class="card-title">Java</h4>
            </div>
          </div>
          <div class="card" id="skills-card">
            <img class="card-img-top" data-src="holder.js/100x180/">
            <div class="card-body">
              <h4 class="card-title">Python</h4>
            </div>
          </div>
          <div class="card" id="skills-card">
            <img class="card-img-top" data-src="holder.js/100x180/">
            <div class="card-body">
              <h4 class="card-title">Git</h4>
            </div>
          </div>
          <div class="card" id="skills-card">
            <img class="card-img-top" data-src="holder.js/100x180/">
            <div class="card-body">
              <h4 class="card-title">OOP</h4>
            </div>
          </div>
          <div class="card" id="skills-card">
            <img class="card-img-top" data-src="holder.js/100x180/">
            <div class="card-body">
              <h4 class="card-title">Machine Learning</h4>
            </div>
          </div>
          <div class="card" id="skills-card">
            <img class="card-img-top" data-src="holder.js/100x180/">
            <div class="card-body">
              <h4 class="card-title">Competitive Proramming</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}  
