<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>I Love CSS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href={% static 'styles.css' %}>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
</head>
<body>

<div class="content">
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/lab-4/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lab-4/feedback/">Feedback</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lab-4/add_activity/">Add Activity</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lab-4/list_activity/">My List</a>
      </li>
    </ul>
  </div>
</nav>

{% block content %}
{% endblock %}

</div>

<footer class="container-fluid text-center">
  <div id="contact">
    <h2>CONTACT ME</h2>
    <div id="my-contact">
      <p>Phone  : 081241217966</p>
      <p>Email  : mridho2828@gmail.com</p>
      <p>Address : Jl. Haji Koja 58</p>
    </div>
  </div>
</footer>

</body>
</html>