{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="container-fluid text-center">
    <p class="section-title">MY ACTIVITY LIST</p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Tanggal</th>
            <th>Jam</th>
            <th>Nama Kegiatan</th>
            <th>Tempat</th>
            <th>Jenis</th>
        </tr>
        </thead>
        <tbody>
        {% for i in activity %}
            <tr>
                <td>{{ i.date }}</td>
                <td>{{ i.time }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.place }}</td>
                <td>{{ i.category }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form action="{% url 'lab-4:delete_all_activity' %}" method="POST" style="margin-bottom:25px">
        {% csrf_token %}
        <input class="btn btn-default btn-danger" type="submit" value="Delete All"/>
    </form>
</div>

{% endblock %}