body {
    background-color: white;
    height: 100%;
    min-height: 100%;
    position: relative;
}

#my-image {
    border-radius: 50%;
}

#description {
    padding-left: 50px;
}

.short-paragraph {
    font-size: 15pt;
    color: gray;
}

.content {
    min-height: calc(100vh - 95px);
}

.container-fluid {
    height: fit-content;
    position: relative;
}

.navbar {
    background-color: whitesmoke;
    border-bottom-color: black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 0;
}
      
.row.content {
    height: auto;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
      
.sidenav {
    height: 100%;
}

.section-title {
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}

.card-group {
    box-align: center;
    align-self: auto;
}

.card {
    background-color: grey;
}

#skills-card {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

#my-contact {
    text-align: center;
    padding-top: 20px;
}

footer {
    position: absolute;
    padding-top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: #555;
    color: white;
}
      
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    
    .row.content {
        height:auto;
    } 
}