<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INI TITLE</title>
</head>
<body>
    <img src="https://media.licdn.com/dms/image/C5103AQH1_dFTPONWoQ/profile-displayphoto-shrink_200_200/0?e=1540425600&v=beta&t=566E-H3xkXFZUwyXgOn2o58IbAmoP9TXYI_H8mxNA98"</img>
    <article>Name : {{ name }}</article>
    <article>NPM : {{ npm }}</article>
    <article>Age : {{ age }}</article>
    <article>College : {{ college }}</article>
    <article>Hobby : {{ hobby }}</article>
    <article>Short description : Hello everyone! I am a student from Universitas Indonesia majoring Computer Science.
        I love to code and learn something new everyday!</article>
	
	<p> Here is a short description about my friends in front of and behind me </p>
		
	<img src="https://media.licdn.com/dms/image/C5603AQE5axwoQdxkrw/profile-displayphoto-shrink_200_200/0?e=1541635200&v=beta&t=p83ey2qe5Fi60depTRK4vgjNZpm2-aLeH5V_CChqVy0"></img>
	<article>Name : Alif</article>
    <article>NPM : 1406568721</article>
    <article>Age : 21</article>
    <article>College : Universitas Indonesia</article>
    <article>Hobby : Swimming</article>
    <article>Short description : A student from Faculty of Math & Science who is taking PPW class</article>
	
	<p> </p>
	
	<img src="https://ardycupu.files.wordpress.com/2012/03/tembok.jpg" width="200" length="200"></img>
	<article>Name : Tembok</article>
    <article>NPM : -</article>
    <article>Age : -</article>
    <article>College : Universitas Indonesia</article>
    <article>Hobby : Standing</article>
		
</body>		
</html>
